.App .fa.fa-caret-left{margin-right: 10px;font-size: 18px;vertical-align: -2px;}
.App .fa.fa-caret-right{margin-left: 10px;font-size: 18px;vertical-align: -2px;}
.App .display-hide{display: none;}
.App .total-days{margin-top: 4px;font-weight: bold;}

.App .view-5,.App .view-6{width: 100%;}
.App .view-5 .form-group{width: 48%; display: inline-block;}
.App .view-5 .form-group:nth-child(odd){padding-right: 0px;}


.App .view-6 form label{width: 100%;}
.App .view-6 form .title{font-weight: bold;}

.App .add-rows-btn{
    padding: 8px 16px;
    border-radius: 56px;
    font-size: 12px;
}

.App .view-6 fieldset{position: relative;}
.App .edit-btn{
    position: absolute;
    right: 2px;
    top: -31px;
    font-size: 36px;
    cursor: pointer;
}
.App .edit-btn:hover{color:#0077bd;}

.App .currency-container{position: relative;}
.App .currency-container .currency-symbol{position: absolute;top: 11px;left: 12px;}
.App .currency-container input[type=text]{padding-left: 18px;}
.App .each-risk-row:nth-child(even){margin-top: 10px;padding-top: 10px; border-top: 1px dotted #ccc;}
