.App .fa.fa-caret-left{margin-right: 10px;font-size: 18px;vertical-align: -2px;}
.App .fa.fa-caret-right{margin-left: 10px;font-size: 18px;vertical-align: -2px;}
.App .display-hide{display: none;}
.App .total-days{margin-top: 4px;font-weight: bold;}

.App .view-5,.App .view-6{width: 100%;}
.App .view-5 .form-group{width: 48%; display: inline-block;}
.App .view-5 .form-group:nth-child(odd){padding-right: 0px;}


.App .view-6 form label{width: 100%;}
.App .view-6 form .title{font-weight: bold;}

.App .add-rows-btn{
    padding: 8px 16px;
    border-radius: 56px;
    font-size: 12px;
}