header img{
    width: 72px;
    height: 72px;
}
header .header-icons{float: right;}
header .header-icon{
    width: 40px;
    height: 40px;
    border-radius: 52px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    margin: 0px 2px;
    cursor: pointer;
}

.App header .odt-logo{
    cursor: pointer;
}