.stepper-horizontal {
	 display: table;
	 width: 100%;
	 margin: 0 auto;
}
 .stepper-horizontal .step {
	 display: table-cell;
	 position: relative;
	 padding: 1.5rem;
	 z-index: 2;
	 width: 25%;
}
 .stepper-horizontal .step:last-child .step-bar-left, .stepper-horizontal .step:last-child .step-bar-right {
	 display: none;
}
 .stepper-horizontal .step .step-circle {
	 width: 2rem;
	 height: 2rem;
	 margin: 0 auto;
	 border-radius: 50%;
	 text-align: center;
	 line-height: 1.75rem;
	 font-size: 1rem;
	 font-weight: 600;
	 z-index: 2;
	 border: 2px solid #d9e2ec;
}
 .stepper-horizontal .step.done .step-circle {
	 background-color: #199473;
	 border: 2px solid #199473;
	 color: #fff;
}
 .stepper-horizontal .step.done .step-circle:before {
	 font-family: 'FontAwesome';
	 font-weight: 100;
	 content: "\f00c";
}
 .stepper-horizontal .step.done .step-circle * {
	 display: none;
}
 .stepper-horizontal .step.done .step-title {
	 color: #102a43;
}
 .stepper-horizontal .step.active .step-circle {
	 background: #04C576;
	 border-color:#04C576;
	 color: #fff;
}
 .stepper-horizontal .step.active .step-title {
	 color: #199473;
}
 .stepper-horizontal .step .step-title {
	 margin-top: 1rem;
	 font-size: 1rem;
	 font-weight: 600;
}
 .stepper-horizontal .step .step-title, .stepper-horizontal .step .step-optional {
	 text-align: center;
	 color: #829ab1;
}
 .stepper-horizontal .step .step-optional {
	 font-size: 0.75rem;
	 font-style: italic;
	 color: #9fb3c8;
}
 .stepper-horizontal .step .step-bar-left, .stepper-horizontal .step .step-bar-right {
	 position: absolute;
	 top: calc(2rem + 7px);
	 height: 1px;
	 background-color: #d9e2ec;
	 border: solid #d9e2ec;
	 border-width: 1px 0;
}
 .stepper-horizontal .step .step-bar-left {
	 width: calc(100% - 2rem);
	 left: 50%;
	 margin-left: 1rem;
	 z-index: -1;
}
 .stepper-horizontal .step .step-bar-right {
	 width: 0;
	 left: 50%;
	 margin-left: 1rem;
	 z-index: -1;
	 transition: width 500ms ease-in-out;
}
 .stepper-horizontal .step.done .step-bar-right {
	 background-color: #199473;
	 border-color: #199473;
	 z-index: 3;
	 width: calc(100% - 2rem);
}
 