header img{
    width: 100px;
}
header .header-icons{float: right;}
header .header-icon{
    width: 40px;
    height: 40px;
    border-radius: 52px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    margin: 0px 2px;
}

.App{padding: 20px 40px;}
.App header{margin-bottom: 20px;}

.container.panel, .container.panel .row{box-sizing: border-box;}
.container.panel .row{margin: 0px;}

.App .panel{display: flex;  width: 100%;}
.App .panel .panel-left, .App .panel .panel-right, .App .panel .gap{
	position: relative;
}

.panel .panel-left{ width: 20%; height:auto; min-height: 500px; border-radius: 20px!important; box-sizing: border-box;}
.panel .panel-right{ width: 78%; height: auto;border-radius: 20px!important; box-sizing: border-box;position: relative;}
.button-container{text-align: center;margin: 40px 0px 20px;border-top: 1px solid #ccc;padding-top: 20px;position: absolute;width: calc(100% - 30px); bottom: 0px;}
.button-container button{border-radius: 56px;padding: 10px 40px;min-width: 140px;font-size: 12px;}

.views{width: 60%;margin-bottom: 100px; padding: 0px 26px 0px; box-sizing: border-box;}
.views label,.views span{font-size: 12px;}
.views .react-datepicker__tab-loop{z-index: 9;}
textarea{resize: none;}

.form-group.required .form-label:after {
  content:"*";
  color:#FF0000;
  font-weight: bold;
  margin-left: 2px;
}
.App .form-control{
    border-radius: 6px;
    resize: none;
    height: auto;
    font-size: 12px;
    padding: 10px 12px;
}

.profile-container{height: 60px;border-bottom: 1px solid #ccc;}
.logout-section{
	position: absolute;
    bottom: 0;
    height: 60px;
    width: calc(100% - 30px);
	border-top: 1px solid #ccc;
	padding-top: 20px;
}

.App .logout-section .logout-icon{margin-left: 22px;margin-top: 2px;cursor: pointer;}
.App .logout-section .logout-icon:hover{color: #0077bd;}

.react-datepicker-wrapper{width: 100%;}
.date-picker-custom-input i{
	position: absolute;
	top: 4px;
    right: -16px;
	font-size: 28px;
}
.react-datepicker__triangle{left: 100px !important;}
.react-datepicker__navigation{box-sizing: border-box;}

.App .profile-photo{
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}

.App .profile-photo .fa-user{
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 25px;
    height: 39px;
    top: 0px;
    bottom: 0px;
    font-size: 36px;
}
.App .profile-section .user-name{
    height: 45px;
    position: absolute;
    top: 27px;
    left: 69px;
    color: #555353;
}


@media (min-width: 1200px){
    .App .container {
        
    }
}

@media (min-width: 992px){
    .container.header {
        
    }
}
 